* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-light-red: hsl(356, 100%, 66%);
  --main-very-light-red: hsl(355, 100%, 74%);
  --main-dark-blue: hsl(208, 49%, 24%);
  --main-white: hsl(0, 0%, 100%);
  --gray-blue: hsl(240, 2%, 79%);
  --dark-gray-blue: hsl(207, 13%, 34%);
  --dark-black-blue: hsl(240, 10%, 16%);
  --gradient-very-light-red: hsl(13, 100%, 72%);
  --gradient-light-red: hsl(353, 100%, 62%);
  --gradient-dark-gray-blue: hsl(237, 17%, 21%);
  --gradient-dark-desaturated-blue: hsl(237, 23%, 32%);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
}

body {
  font-style: normal;
  font-weight: 500;
  color: var(--dark-gray-blue);
  background: var(--main-white);
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Overpass", sans-serif;
}

.header-section {
  font-family: "Overpass", sans-serif;
  background: url(./images/bg-pattern-intro-mobile.svg),
    linear-gradient(
      135deg,
      var(--gradient-very-light-red),
      var(--gradient-light-red)
    );
  background-size: contain, 100%;
  background-repeat: no-repeat;
  /*background: linear-gradient(
    135deg,
    var(--gradient-very-light-red),
    var(--gradient-light-red)
  );*/
  color: var(--main-white);
  border-radius: 0 0 0 100px;
}

.logo-and-nav-container {
  display: flex;
  flex-direction: row;
  margin: 40px 20px;
  max-width: 100%;
  justify-content: space-around;
}

.logo-container {
  width: 25%;
}

.logo {
  vertical-align: middle;
}

nav {
  display: none;
  width: 60%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  /*border: 1px solid black;*/
}

.nav-list > * {
  display: flex;
  flex-direction: column;
}

.nav-product-list {
  display: none;
}

.nav-company-list {
  display: none;
}

.nav-connect-list {
  display: none;
}

.nav-button-container {
  flex: 1;
  text-align: end;
  display: table;
}

.hamburger-icon-container {
  display: table-cell;
  vertical-align: middle;
  /*justify-content: end;*/
}
/*
.hamburger-icon {
  
}*/

.login-btn {
  display: none;
}

.sign-up-btn {
  display: none;
}

.h1-container {
  text-align: center;
  padding: 0 30px;
  margin-top: 80px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

.header-span-container {
  text-align: center;
  padding: 0 30px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.header-span {
  font-size: 18px;
  font-weight: 700;
}

.header-bottom-btn-container {
  display: flex;
  margin: 0 20px 150px 20px;
  /*margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;*/
  justify-content: space-between;
}

.header-bottom-btn {
  font-family: "Overpass", sans-serif;
  background-color: transparent;
  color: var(--main-white);
  border: 1px solid var(--main-white);
  padding: 15px;
  border-radius: 50px;
  width: 160px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

.start-for-free-btn {
  background-color: var(--main-white);
  color: var(--gradient-light-red);
}

.start-for-free-btn:hover {
  background-color: var(--main-very-light-red);
  color: var(--main-white);
  border: none;
  cursor: pointer;
}

.learn-more-btn:hover {
  background-color: var(--main-white);
  color: var(--main-very-light-red);
  cursor: pointer;
}

h3 {
  font-size: 24px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  color: var(--main-dark-blue);
}

.future-design-img {
  text-align: center;
}

.editor-h3 {
  margin-top: 50px;
  margin: 50px 60px 15px 60px;
  text-align: center;
}

p {
  text-align: center;
  padding: 0 40px;
  line-height: 1.6;
  color: var(--main-dark-blue);
  opacity: 0.75;
}

.robust-h3 {
  margin: 40px 0 20px 0;
  padding: 0 40px;
}

.infrastructure {
  background-color: var(--gradient-dark-gray-blue);
}

.phone-container {
  margin-top: 80px;
  background-color: var(--main-white);
}

h2 {
  color: var(--main-white);
  font-size: 36px;
  text-align: center;
}

.infrastructure-p {
  color: var(--main-white);
}

.laptop-img-container {
  margin-top: 50px;
}

.details-headers {
  margin-top: 30px;
  margin-bottom: 20px;
}

footer {
  background-color: var(--dark-black-blue);
  border-radius: 0 100px 0 0;
  margin-top: 80px;
}

.logo-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.footer-headings {
  padding-top: 20px;
}

.footer-list {
  justify-content: center;
  text-align: center;
  color: var(--main-white);
  font-weight: 900;
  font-size: 18px;
}

.footer-list-content {
  padding: 25px 0;
  font-weight: 700;
  font-size: 16px;
  
}

.footer-list-content > * {
  padding: 4px 0;
  color: var(--gray-blue);
}
/*
.footer-company-list {
  padding: 25px 0;
}

.footer-company-list > * {
  padding: 4px 0;
  color: var(--gray-blue);
}

.footer-connect-list {
  padding: 25px 0;
}

.footer-connect-list > * {
  padding: 4px 0;
  color: var(--gray-blue);
}*/

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
